%button-small {
	height: 44px;

	font-weight: 500;
	border-radius: 5px;
	background: #BF3524;

	display: flex;
	align-items: center;
	justify-content: center;

	@media (width >=768px) {
		padding: 0 24px;
	}
}

%button-big {
	@extend %button-small;
	font-weight: 600;
	height: 56px;

	@media (width >=768px) {
		padding: 0 32px;
	}

	@media (width >=1024px) {
		font-size: 18px;
	}
}

%button-icon {
	border-radius: 5px;
	border: 2px solid #FFFFFF80;
	height: 40px;
	width: 40px;
	flex: 0 0 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

%button-animation {
	height: 62px;
	padding: 0 24px;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-weight: 600;

	width: 100%;
	transition: 0.3s;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		--border-angle: 0turn;
		--gradient-border: conic-gradient(from var(--border-angle), transparent 60%, #FFFFFF, transparent);

		background: var(--gradient-border) border-box;

		animation: bg-spin 2.4s linear infinite;

		@keyframes bg-spin {
			to {
				--border-angle: 1turn;
			}
		}

		clip-path: polygon(0% 0%,
			0% 100%,
			2px 100%,
			2px 2px,
			calc(100% - 2px) 2px,
			calc(100% - 2px) calc(100% - 2px),
			2px calc(100% - 2px),
			2px 100%,
			100% 100%,
			100% 0%);
	}

	&:hover {
		background: #FFFFFF33;

		&::after {
			background: white;
		}
	}

	@media (width >=768px) {
		align-self: start;
		width: max-content;
	}
}

%h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;

	@media (width >=768px) {
		font-size: 34px;
	}

	@media (width >=1024px) {
		font-size: 44px;
	}

	@media (width >=1440px) {
		font-size: 64px;
	}
}

%subtitle-small {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;

	@media (width >=768px) {
		font-size: 22px;
	}

	@media (width >=1024px) {
		font-size: 26px;
	}

	@media (width >=1440px) {
		font-size: 32px;
	}
}

%subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;

	@media (width >=425px) {}

	@media (width >=768px) {
		font-size: 30px;
	}

	@media (width >=1024px) {
		font-size: 35px;
	}

	@media (width >=1440px) {
		font-size: 40px;
	}
}

@mixin background-gradient($width, $height, $opacity: 100%) {
	position: relative;

	&::after {
		content: "";

		position: absolute;
		z-index: -10;
		top: 0;
		left: 0;
		height: $height;
		width: $width;
		background: radial-gradient(circle, rgba(176, 34, 12, 1) 0%, transparent $opacity);
	}
}

%splide-margin {
	margin: 0 calc(-1 * var(--container-padding));
}

// Общие классы --------------------------------------------------

.arrows {
	gap: 16px;

	display: none;

	.arrow {
		opacity: 0.2;
		flex: 0 0 60px;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		border: 2px solid white;
		transition: 0.3s;

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;
		z-index: 1;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			transition: 0.3s;
			z-index: -1;
		}

		&:hover {
			border: 2px solid #B0220C;
			background: #B0220C;
			opacity: 1;

			&::after {
				background: #B0220C;
				filter: blur(14px);
			}
		}

		&:disabled {
			pointer-events: none;
		}


	}

	@media (width >=1024px) {
		display: flex;
	}
}

.section-demo {
	padding-top: 120px;
	padding-bottom: 120px;

	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.title {
		@extend %h1;
	}

	.subtitle {
		@extend %subtitle-small;

		@media (width < 768px) {
			font-size: 16px;
		}
	}

	.button {
		@extend %button-big;
	}

	.modal-demo-trigger {
		@extend %button-animation;
	}

	.image {
		width: 100%;
		max-width: 570px;

		img {
			width: 100%;
		}
	}

	.desktop {
		display: none;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@media (width >=768px) {
		.content {
			gap: 32px;
		}

		.buttons {
			align-items: center;
			flex-direction: row;
		}
	}

	@media (width >=1024px) {
		padding-bottom: 60px;

		.container {
			display: flex;
			justify-content: space-between;
			gap: 32px;
			align-items: center;
		}

		.desktop {
			display: block;
		}

		.mobile {
			display: none;
		}

		.content {
			flex: 0 1 730px;
			gap: 66px;
		}

		.image {
			flex: 0 1 570px;
			max-width: unset;
			grid-row: span 3;
		}


	}

	@media (width >=1440px) {
		padding-top: 170px;
	}
}

.breadcrumbs {
	font-size: 12px;

	margin-top: 24px;

	.container {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	&__point {
		width: 4px;
		height: 4px;
		flex: 0 0 4px;
		border-radius: 50%;
		background: white;
	}

	@media (width >=1024px) {
		font-size: 14px;
		margin-top: 40px;
	}

	@media (width >=1440px) {
		margin-top: 80px;
	}
}

.section-start {
	padding-top: 40px;

	.container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.content {
		max-width: 885px;
	}

	.title {
		@extend %h1;
	}

	.subtitle {
		margin-top: 24px;

		@extend %subtitle;
	}

	.image {
		max-width: 606px;

		img {
			width: 100%;
		}
	}

	@media (width >=1024px) {
		.container {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.content {
			max-width: unset;
			flex: 0 1 885px;
		}

		.image {
			max-width: unset;
			flex: 0 1 606px;
		}
	}
}

.component_list {
	line-height: 1.3;
	max-width: 830px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.component_list__item {
		position: relative;
		padding-left: 24px;

		&::after {
			content: "•";
			position: absolute;
			left: 4px;
			top: 0;
		}
	}

	@media (width >=768px) {
		.component_list__item {
			font-size: 20px;
		}
	}

	@media (width >=1024px) {
		.component_list__item {
			margin: 0;
			font-size: 22px;
		}

		gap: 24px;
	}

	@media (width >=1440px) {

		.component_list__item {
			font-size: 24px;
			line-height: 1.2;

			&::after {
				font-weight: 700;
				font-size: 30px;
				line-height: 1;
				left: -4px;
			}
		}
	}
}

.modal {
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: var(--z-modal);

	transition: 0.3s;
	align-content: center;

	padding: 0;
	--padding: 24px;

	visibility: hidden;
	opacity: 0;

	backdrop-filter: blur(10px);


	&.show {
		visibility: visible;
		opacity: 1;

		.modal__body {
			transform: none;
		}
	}

	&__body {
		transition: inherit;
		max-width: 960px;
		border-radius: 24px;
		margin-left: auto;
		position: relative;
		background: linear-gradient(135deg, #BB6153, #000000);
		padding: 1px;
		transform: translateX(100%);
	}

	&__content {
		padding: var(--padding);
		background: url("../img/gradients/gradient-8.png") right top / 400px no-repeat #010000;
		border-radius: inherit;
	}

	&__head {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 24px;
	}

	@media (width >=375px) {
		padding: 0 var(--container-padding);
	}

	@media (width >=425px) {
		--padding: 32px;
	}

	@media (width >=768px) {
		--padding: 50px;

		padding: 0;

		&__body {
			border-radius: 24px 0 0 24px;
		}

		&__content {
			background: linear-gradient(to right, #000000 20%, #B0220C);
		}

		&__close {
			width: 36px;
			height: 36px;
			flex: 0 0 36px;

			img,
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	@media (width >=1024px) {
		--padding: 80px;
	}

	@media (width >=1440px) {
		--padding: 120px;

		&__content {
			padding: var(--padding) var(--padding) 100px;
		}
	}
}

.modal {
	.title {
		@extend %h1;
		line-height: 1.1;
	}

	.logo {
		margin-bottom: 24px;
		max-width: 100px;
	}

	.text {
		margin-top: 24px;
		line-height: 1.3;
		font-weight: 600;

		@extend %subtitle;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.form {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.submit {
		@extend %button-small;
		margin-top: 8px;
	}

	input {
		border-radius: 6px;
		padding: 0 10px;
		color: #010000;
		height: 34px;
		font-weight: 600;
		font-size: 12px;

		&::placeholder {
			color: #171717;
		}
	}

	.close {
		margin-top: 38px;
		@extend %button-small;
		width: 100%;
	}

	@media (width < 425px) {
		.text {
			font-size: 14px;
		}

		.title {
			font-size: 20px;
		}
	}

	@media (width >=423px) {
		input {
			font-size: 14px;
		}
	}

	@media (width >=768px) {
		.logo {
			max-width: 180px;
			margin-bottom: 32px;
		}

		.form {
			gap: 20px;
		}

		input {
			height: 50px;
			font-size: 20px;
			padding: 0 16px;
		}

		.submit,
		.close {
			height: 57px;
			font-size: 18px;
			align-self: start;
			width: auto;
			padding: 0 32px;
		}

		.close {
			margin-top: 42px;
		}
	}

	@media (width >=1024px) {
		.logo {
			margin-bottom: 42px;
		}

		input {
			height: 70px;
			font-size: 24px;
			padding: 0 20px;
		}

		.submit {
			margin-top: 20px;
		}

		.text {
			margin-top: 32px;
			gap: 32px;
		}

		.form {
			margin-top: 32px;
		}

		.close {
			margin-top: 60px;
		}
	}

	@media (width >=1440px) {
		.logo {
			margin-bottom: 60px;
		}

		.text {
			margin-top: 40px;
			gap: 32px;
		}

		.form {
			margin-top: 40px;
		}
	}
}